.ui-loading { background:url('img/indicator.gif') no-repeat right center }
hr{border-top: 1px solid #03C9A9 !important;}
.nav-tabs{border-bottom: 1px solid #03C9A9 !important;}
.btn-success{background-image: none;background-color: rgb(61, 201, 70);border: none;transition: all 300ms}
.btn-success:focus, .btn-success:hover{
    background-color: rgb(117, 217, 124);
}
.white-color{color: #FFFFFF}
.full-img{width: 100%; height: auto}
.btn-big{width: 400px; padding: 14px; font-size: 1.2em;text-transform: uppercase;font-weight: bold; text-shadow: 1px 1px 3px rgba(117, 182, 127, 0.5)}
.scroll{overflow: scroll;height: 300px; width: 100%;padding: 10px}
.slider-container{height: 400px;margin-bottom: 20px}
.panel-heading h3{
    font-weight: bold;
    text-transform: uppercase;
}
.page-title{font-family: 'Open Sans';font-size: 2em;font-weight: bold;text-transform: uppercase;color: #FFFFFF;text-align: center}
#logo{padding: 0px 15px;}
#logo img{width: 87px;}
.panel-body{font-size: 1.15em; line-height: 180%;}
.panel-body p{}
.panel-body ul li{
    list-style-type: circle;
    margin-bottom: 10px;
}
ul li{list-style: none}
header .user-mini-stats{margin-top: 14px;}
header .user-mini-stats li{display: inline;margin-right: 20px;}
a{transition: all 300ms}
a:hover,a:focus{
    text-decoration: none !important;
    opacity: 0.7;
}
.slider-container p{
    font-size: 3em;
    font-family: 'Open Sans';
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    margin-bottom: 30px;
    margin-top: 120px;
    text-shadow: 2px 2px rgb(128,128,128);
}
.read-more{
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Open Sans;
    text-align: right;
    display: block;
    padding-top: 10px;
    font-style: italic;
    text-decoration: underline;
}
.slideshow{
    max-height: 580px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}
.slideshow img{
    width: 100%;
    height: auto;
}
.home-column{
    background-color: #E4F1FE;
    padding: 10px;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
    border-radius: 5px;
}
.home-column h3{
    border-bottom: 1px dashed rgb(118, 182, 128);
    padding-bottom: 10px;
}
.min-height-home{
    height: 300px;
    padding: 10px;
}
#register-form .btn-big{
    margin: 0 auto;
    display: block;
}
body{
    background-color: #000;
/*background: url('img/bground.jpg') no-repeat center center fixed;*/
/*-webkit-background-size: cover;*/
/*-moz-background-size: cover;*/
/*-o-background-size: cover;*/
/*background-size: cover;*/
/*background-color:#333;*/
  
  background: black; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, black, black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, black, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, black, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, black, black); /* Standard syntax */

font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
}
.shorter-page{width: 60%;margin: 0 auto}
.media-object{
    display: block;
    width: 80px;
}
img{border-radius: 5px}

/*HEADER*/
header nav.navbar{
    /*background-color: rgba(106, 192, 134, 0.8);*/
    background-color: rgb(128, 128, 128);
    color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    border-bottom: 1px solid #4ECDC4;
    height: 65px;
}
header nav.navbar a{
    color: #FFFFFF;
}
header nav.navbar .container{
    margin-top: 8px;
}

header nav.navbar .info-btn{
    display: inline-block;
    padding: 10px 8px;
    margin-right: 6px;
    border-radius: 5px;
    transition: all 300ms;
    margin-top: 5px;
}
header nav.navbar .info-btn:hover{
    background-color: #4183D7;
}
header nav.navbar .moodbox{
    text-align: center;
    margin-left: 20px;
}

header nav.navbar #mood-form .text-area-container{
    height: 50px;
    margin: 0px 3px 0 30px;
}
header nav.navbar #mood-form .text-area-container textarea{
    height: 50px;
}

header nav.navbar #mood-form button{
  
 /* background-color: rgb(61, 201, 70);*/
}



header nav.navbar .navbar-toggle {
     background-color: rgb(0,0,0);
     color:#ffffff;
}

/*-- change navbar dropdown color --*/
header nav.navbar .navbar-nav .open .navbar-toggle>li>a, .navbar .navbar-nav .open .navbar-toggle {
    background-color: rgb(0,0,0);
    color:#ffffff;
}

/*CONTENT*/
.master-page{
    margin-top: 90px;
}
.master-page-revert{
    margin-top: -70px;
}
#main-quote{
    text-align: center;
    width: 90%;
    max-width: 960px;
    margin: 90px auto 20px;
    border-left: none;
    background-color: rgb(240,255,240);
    border-radius: 10px;
    font-style: italic;
    padding: 15px;
    box-shadow: 1px 1px 7px rgba(0,0,0,0.3);
}
#main-quote .author{
    display: block;
    text-align: right;
    font-size: 0.8em;
    margin-top: 20px;
}
.green-bg{
    padding: 10px;
    /*background-color: rgba(106, 192, 134, 0.5);*/
    background-color: rgba(3, 201, 169, 0.5);
    box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
    border-radius: 10px;
}
.dashboard-column{
    padding: 10px;
   /* background-color:  rgba(154, 255, 154, 0.7);*/
    background-color: rgb(255, 255, 255);
  
    box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
    min-height: 685px;
    border-radius: 10px;
}
.dashboard-column .nav-tabs > li{
    margin-bottom: 1px;
}
.dashboard-column .user-dashboard{
    padding-left: 0px;
    list-style: outside none none;
}
.dashboard-column .user-dashboard li{
    padding: 2px;
    margin-bottom: 4px;
}
.dashboard-column .user-dashboard li .game-actions{
    font-weight: bold;
    font-size: 1.3em;
}
.dashboard-column .profile-image{
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

.dashboard-column h3{
    margin-top: 0px;
}

.dashboard-column .dashboard-section{
    margin: 15px 0px;
    padding: 15px 0;
    border-top: 1px solid #03C9A9;
}
.dashboard-column .nav-tabs > li > a{
    text-transform: uppercase;
    font-weight: bold;
    color: #333333;
}
.dashboard-column .nav-tabs > li.active > a,
.dashboard-column .nav-tabs > li.active > a:focus,
.dashboard-column .nav-tabs > li.active > a:hover{
    background-color: rgb(61,201,70);
    border-color: transparent;
    color: #FFFFFF;
}
#user-graph{
    width: 100% !important;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}
.dashboard-column .tab-content{
    padding-top: 15px;
}
.dashboard-column h3 a{
    color: #333;
}
.allies-row{
    margin-top: 30px;
}
.allies-row img{
    width: 100%;
    height: auto;
}
.journal-entry{
    padding: 20px 10px 40px;
    clear: both;
    background-color: rgb(245,245,245);
    margin: 10px 0;
    border-radius: 5px;
    border-bottom: 1px solid #c0c0c0;
}
.journal-action{
    cursor: pointer;
}
.journal-action.action-ok{
    transition: all 300ms;
}
.journal-action.action-ok:hover{
    color: #FFFFFF;
}
.update-journal .mood-rating{
    float: left;
    margin-right: 20px;
}
.update-journal{
    margin-bottom: 20px;
}
.update-journal img{
    width: 100%;
}
/*FOOTER*/
footer {
    margin-top: 40px;
}